PORT=3000
JWT_SECRET=f14e6a1c9843c52190c07232dfb9c0e467d5a910
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10
MONGO_URI=mongodb+srv://<db_username>:<db_password>@dawacluster.tyrj3qk.mongodb.net/my_cloud_database?retryWrites=true&w=majority
